PORT=5000

# app url
APP_URL=xxxxxxxx


# log
LOG_LEVEL= info #info,debug,error,warn
LOG_OUTPUT= console # 'console', 'file', or 'console,file'
LOG_FILE_PATH=logs/app.log

MONGODB_URI=xxxxxxxxx



# appwrite 
APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=xxxxxxxxx
APPWRITE_API_KEY=xxxxxxxxxx