PORT=5050

# app url
APP_URL=http://localhost:5050


# log
LOG_LEVEL= info #info,debug,error,warn
LOG_OUTPUT= console # 'console', 'file', or 'console,file'
LOG_FILE_PATH=logs/app.log

MONGODB_URI=mongodb://localhost:27017/Job_Hunter



# appwrite 
APPWRITE_ENDPOINT=xxxxxxxxxxxxxxxxxxxxxx
APPWRITE_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxx
APPWRITE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx
APPWRITE_BUCKET_ID=xxxxxxxxxxxxxxxxxxxxxxx
# LLM
MISTRAL_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MISTRAL_MODEL_NAME=mistral-small-2603

# Internal service token
INVOICE_SERVICE_INTERNAL_TOKEN=